<div class="bg-base-300 border-t border-base-content">
    <div class="py-2 container mx-auto">
        <div class="flex justify-center">
            <div class="px-4">
                #
            </div>
        </div>
    </div>
</div>