<div class="bg-base-300 border-b border-base-content">
    <div class="py-2">
        <div class="flex justify-center">
            <div class="px-4">
                <a href="/">KOD ÜRET</a>
            </div>
            <div class="px-4">
                <a href="/json-parse">JSON PARSE</a>
            </div>
        </div>
    </div>
</div>