@{
    ViewData["Title"] = "Kod Yönetimi";
}

<div class="md:px-8 px-4 py-10">
    <div class="flex justify-center gap-4">
        <div class="flex flex-col gap-2">
            <label>Kod Üret</label>
            <input id="generateInput" type="text" class="input input-bordered w-full" readonly/>
            <button id="generateBtn" class="btn btn-sm btn-outline btn-accent">Üret</button>
        </div>
        <div class="flex flex-col gap-2">
            <label>Kontrol Et</label>
            <input id="verifyInput" type="text" class="input input-bordered w-full" />
            <button id="verifyBtn" class="btn btn-sm btn-outline btn-accent">Kontrol</button>
            <span id="verifyMsg"></span>
        </div>
    </div>
</div>

@section Scripts {
    
    <script>

        document.getElementById("generateBtn").addEventListener("click", () => {
            fetch("/api/code/create")
                .then(x => x.json())
                .then(x => {
                    console.log(x)
                    document.getElementById("generateInput").value = x.code
                })
        })

        document.getElementById("verifyBtn").addEventListener("click", () => {
            document.getElementById("verifyMsg").innerText = ""
            let code = document.getElementById("verifyInput").value
            fetch("/api/code/verify?code=" + code)
                .then(x => x.json())
                .then(x => {
                    console.log(x)
                    if (x.isVerified) {
                        document.getElementById("verifyMsg").classList.add("text-success")
                        document.getElementById("verifyMsg").classList.remove("text-error")
                        document.getElementById("verifyMsg").innerText = "Geçerli kod"
                    } else {
                        document.getElementById("verifyMsg").classList.remove("text-success")
                        document.getElementById("verifyMsg").classList.add("text-error")
                        document.getElementById("verifyMsg").innerText = "Geçersiz kod"
                    }
                })
        })

    </script>
}
