@{
    ViewData["Title"] = "Home Page";
}

<div class="md:px-8 px-4 py-10">
    <div class="flex justify-center gap-4">
        <div class="flex flex-col gap-2">
            <label>Kod Üret</label>
            <input type="text" class="input input-bordered w-full" />
            <button id="generateBtn" class="btn btn-sm btn-outline btn-accent">Üret</button>
        </div>
        <div class="flex flex-col gap-2">
            <label>Kontrol Et</label>
            <input type="text" class="input input-bordered w-full" />
            <button id="verifyBtn" class="btn btn-sm btn-outline btn-accent">Kontrol</button>
        </div>
    </div>
</div>

@section Scripts {
    
    <script>

        document.getElementById("generateBtn").addEventListener("click", () => {
        
        })

        document.getElementById("generateBtn").addEventListener("click", () => {

        })

    </script>
}
